/* common style sheet */
body
    font-size 16px
    @media only screen and (max-width: 767px)
        font-size 14px
font-size-simple = 14px
font-size-title = 20px
font-size-large = 30px
background-color = #f7f7f7
border-simple = 1px dotted #e4e4e4
color-blue = #4c6bb0
color-333333 = #333333
color-365ca9 = #365ca9
color-white = #ffffff
color-ccc = #cccccc
@font-face 
    font-family hirakakupro-w3
    src url('../../../fonts/hirakakupro-w3.otf')
@font-face
    font-family copperplate
    src url('../../../fonts/CopperplateGothicBold.otf')
@font-face 
    font-family hirakakupro-w6
    src url('../../../fonts/hirakakupro-w6.otf')
@font-face {
    font-family: 'YuMincho';
    src: local('YuMincho Medium'), url('/common/fonts/YuMin-Medium-AlphaNum.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
ul
    list-style none
    
h1 
    margin 0 0 0 0 !important
    padding 0 0 0 0 !important

img
    max-width 100%
    height auto

/* !common style sheet */

/* modal-group style sheet */
.modal-group
    position fixed
    top 200px
    left 0
    width 12%
    heigh auto
    z-index 600
    @media only screen and (min-width: 501px) and (max-width: 767px)
        width 15%
    @media only screen and (max-width: 500px)
        width 20%
    div
        width 100%
        height auto
        margin-bottom 22px
        a
            width 100%
            height auto
/* !modal-group style sheet */

/* title stye sheet */
.title
    height auto
    text-align center
    p
        padding-top 24px
        text-align center
        font-family "YuMincho"
        font-size 2.125em
        
.content-wrap
    z-index 500
    background white
    position relative
	height auto
	margin 0 auto
	background url('../../imgs/logo-title.png') no-repeat center 0
	background-size 230px 65px
	p
		padding-top 87px
		font-weight bold
		text-align center
		font-family "YuMincho"
		font-size 34px
		
a
	&:hover
		opacity 0.7
@media only screen and (max-width: 768px)
    .pcshow
        display none
    .title
        p
            font-size 24px

.block-btn
    color color-333333
    position relative
    display inline-block
    width 370px
    @media screen and (max-width: 1199px)
        width 320px
    @media screen and (max-width: 375px)
        width 300px
    text-align center
    padding 18px 0
    background-color #fed700
    font-family 'hirakakupro-w6'
    font-size 1.125em
    font-weight bold
    border-radius 5px
    &:hover, &:visited, &:focus, &:active
        color color-333333
        text-decoration none
    &:hover
        opacity 0.7
    img
        position absolute
        top 35%
        right 5%

/* breadcrumb */
.breadcrumb
    line-height 1.7
    background-color white
    padding-top 20px
    padding-left 0
    margin-bottom 0
    @media screen and (max-width: 768px)
        padding-left 10px
    span
        a
            color #365ca9 !important
            text-decoration underline