/* #company style sheet */
#company
	.content-wrap
		width 100%
		height auto
		position relative
		.profile
			padding 0
			.row
				margin-left 0
				margin-right 0
				@media only screen and (max-width: 768px)
					margin-left 15px
					margin-right 15px
				.col-sm-6
					padding 0
				.company-banner
					.img-right
						img
							margin-left 15px
							@media only screen and (max-width: 768px)
								margin-left 0
							@media only screen and (min-width: 769px) and (max-width: 1030px)
								margin-left 0
				@media only screen and (max-width: 768px)
					.company-banner
						img
							width 100%
							&:last-child
								margin-top 5%
			.company-profile
				.company-banner
					@media only screen and (max-width: 768px)
						margin-left 0
						margin-right 0
	.banner-first
		background url("../../../img/banner-01.png") no-repeat center
		background-size cover
		.text-banner-first
			margin-left 28.6%
			@media only screen and (max-width: 768px)
				width 100px
			@media only screen and (max-width: 320px)
				width 60px
				margin-left 15%
			width 200px
			span
				text-align center
				font-size 60px
				font-family "YuMincho"
				display block
				line-height 1
				background-color rgba(255, 234, 0, 0.6)
				padding 40% 0
				color #000000
				@media only screen and (max-width: 768px)
					padding 25% 0
					font-size 7.8vw
				@media only screen and (max-width: 320px)
					padding 40% 0
	.content
		width 100%
		height auto
		@media only screen and (min-width: 769px) and (max-width: 1220px)
			.row
				margin-right 0
				margin-left 0
	.page-title
		padding-top 22px
		a
			float left
			color color-365ca9
			font-size 1em
			font-weight bold
			&:hover
				text-decoration underline !important
		p
			float left
			margin 0 0 0 0 !important
			font-size 1em
			font-weight bold

	.title
		width 100%
		height 130px
		margin 0 auto
		p
			font-family "YuMincho"
			padding-top 1.7%
			margin 0 auto !important
			text-align center
			font-size 2.125em
			@media only screen and (max-width: 768px)
				padding-top 3%
	.history
		height auto
		padding-top 45px
		@media only screen and (max-width: 768px)
			.row
				margin-left 0
				margin-right 0
	.history-content
		height auto
		margin-top 50px
		p
			margin-bottom 0
			font-size 1.125em
			line-height 2
		.sign
			font-family "YuMincho"
			font-size 1.25em
			margin-top 8px
		.position-name
			padding-left 21px
			font-family "YuMincho"
			font-size 1.5em
		.name-position
			font-size 1em
			line-height 1
			margin-top 3px
	.img-history
		margin-top 72px
		img
			margin-left 45px
			@media only screen and (max-width: 768px)
				margin 0 auto
			@media only screen and (min-width: 769px) and (max-width: 1030px)
				margin-left 10px
	.introduction
		width 100%
		height auto
		padding-top 5.3%
		background-color background-color
		background-clip content-box
		.title
			margin-top 4.2%
			@media only screen and (max-width: 768px)
				margin-top 10%
	.introduction-content
		height auto
		padding-top 4.4%
		@media only screen and (max-width: 768px)
			padding-top 3%
		.row-content
			padding 30px 0
			border-top border-simple
			margin-left 0
			margin-right 0
			&:last-child
				padding 30px 0 100px 0
				@media only screen and (max-width: 768px)
					padding 0 0 5% 0
			.row-img
				padding-left 0
			.row-info
				padding-top 22px
				padding-left 0
				padding-right 0
			.feature-title
				color color-365ca9
				font-family "hirakakupro-w6"
			.row-info-title
				font-size 1.5em
			.row-info-content
				font-size 1em
				line-height 28px
	@media only screen and (min-width: 768px)
		.sp 
			display none !important			
	@media only screen and (max-width: 768px)
		.introduction
			padding-top 40px
		.introduction-content
			.row-content
				padding-top 5%
				margin 5%
				&:last-child
					padding-top 5%
				.row-img 
				img
					margin 0 auto 4%
				.row-info
					padding-top 0px
					.row-info-title
						text-align center
		.title p 
			padding-left 10px
			padding-right 10px
			@media only screen and (max-width: 515px)
				font-size 1.5em
	.company-profile
		height auto
		padding-top 4.2%
	.profile-table
		width 100%
		height auto
		padding-top 45px
		.table-row-title
			width 23%
			height auto
			background background-color
			p
				line-height 45px
				margin 0 0 0 24%
				font-size 1.125em
				@media only screen and (max-width: 768px)
					margin 0 0 0 5%
		.table 
			tr
				td
					&:first-child
						font-family hirakakupro-w6
						font-size 1em
						font-weight bold
					&:nth-child(2)
						font-size 1em
		.table-row-content
			height auto
			p
				margin-bottom 0
				line-height 45px
				margin-left 10.3%
				font-size 1.125em
				a
					color color-333333
				@media only screen and (max-width: 768px)
					margin-left 5%
		.table-multiple-row-content
			padding 13px 8px
			p
				line-height 1.8
				margin-bottom 0
				margin-left 10.3%
				@media only screen and (max-width: 768px)
					margin-left 5%
	.profile-banner
		margin-top 125px
		@media only screen and (max-width: 375px)
			margin-top 80px
		.pcshow
			display block
			background url('../../../img/img-advertisement-01.png')
			background-size contain
			background-repeat no-repeat
	.company-banner
		margin 58px 0px 99px 0px