.wrapper
    .pc-content
        .headerInner
            .col-sm-8
                padding-right 0
            ul
                float right
                margin-bottom 0
                margin-top 7px
                li
                    float left
                    a
                        margin 0 16px
                        color color-333333
                        font-size 1.125em
                        @media screen and (min-width: 768px) and (max-width: 991px)
                            font-size 0.8em
                            margin 0 13px
                        @media screen and (min-width: 992px) and (max-width: 1199px)
                            margin 0 14px
                        &:active
                            color color-365ca9
                    .careers
                        margin-right 0
                    .active
                        color color-365ca9
@media screen and (min-width: 768px) and (max-width: 991px)
    .wrapper
        .pc-content
            .headerInner
                ul
                    margin-top 0